@import "/src/scss/base/index.scss";

@mixin button {
  background-color: var(--white);
  padding: .5rem 1rem;
  border: none;
  outline: none;
  border-radius: 5px;
  color: var(--primary);
  text-transform: uppercase;
  border: 1px solid var(--primary);
  text-decoration: none;
  font-size: $text-size;

  &:hover {
    box-shadow: 0px 0px 5px var(--primary);
    cursor: pointer;
  }
}

@mixin ps {
  content: '';
  position: absolute;
}