.banner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  &__header {
    position: absolute;
    text-align: center;
    align-items: center;
    color: var(--white);
    transform: translateY(-25%);
  }

  &__title {
    font-size: 80px;
    font-weight: 200;
    margin-bottom: 0;
  }

  &__subtitle {
    letter-spacing: .25em;
    font-weight: 200;
  }

  &__icon {
    margin-top: 60px;
    max-width: 40px;
  }
}